<div>
  <h2>Celebrity List</h2>
  {{#each allCelebrities}}
    <div>
      <ul>
        <li>{{name}}</li>
        <li>{{occupation}}</li>
        <li>{{catchPhrase}}</li>
      </ul>
    </div>
  {{/each}}
</div>